<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ @author  Tigren Solutions <info@tigren.com>
  ~ @copyright Copyright (c) 2022 Tigren Solutions <https://www.tigren.com>. All rights reserved.
  ~ @license  Open Software License (“OSL”) v. 3.0
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Customer::customer_group_rule" title="Rules" translate="title" module="Magento_Customer" sortOrder="60" parent="Magento_Customer::customer" action="customergr_catalogrule/rule/index" resource="Magento_Customer::manage"/>
    </menu>
</config>
